@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#03001e, #7303c0, #ec38bc ,#fdeff9);
    height: 100vh;
    overflow-y: hidden;
 
    color: #7303c0;
}

.container {
    background: #ec38bc;
    width: 40%;
    padding: 1rem;
    margin: auto;
    margin-top: 10%;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #fdeff9;
    text-align: center;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.5), -30px 0px 40px rgba(0, 0, 0, 0.5);
}
h1 {
    color: #7303c0;
}

.btn {
    padding: 0.5rem 2rem;
    background-color: #7303c0;
    border: 2px solid #fdeff9;
    border-radius: 5px;
    color: #fdeff9;
    margin: 10px 0;
}

h4 {
    color: #fdeff9;
}

.container input {
    padding: 0.5rem;
    width: 70%;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid #7303c0;
}

.container input[type=checkbox] {
    width: auto;
}

.container a {
    color: #fdeff9;
    text-decoration: none;

}